<p><%= @content.name %></p>
<%= @content.file_upload %>
  <% @content.tags.each do |tag| %>
    <p><%= link_to tag.name, tag_path(tag) %></p>
  <% end %>
  <%= link_to "Edit content", edit_content_path(@content) %>
