// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #62bcba;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #62BCBA;
$gray: #474448;
$light-gray: #F4F4F4;
$violet: #B18FCF;
$white: #FCFCFC;




