.board-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), image-url('postitwall.jpg');
  min-height: 220px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-attachment: fixed;
  margin-top: 40px;
  color: white;
}

.board-list {
  margin-top: 40px;
}

.content-card {
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.25);
  border-radius: 2%;
  overflow: hidden;
}

.btn-outline-primary:hover {
  color: white;

}

.fa-plus-circle {
  color: $violet;
  font-size: 24px;
  padding-top: 8px;
  margin-right: 8px;
}

.btn-tag {
  border-radius: 50px;
  border: 1px solid;
  border-color: $violet;
  color: $violet;
  margin-bottom: 10px;
  .tag-display  a {
  color: $violet !important;
}
}

.btn-tag:hover {
  color: white !important;
  background-color: $violet;
  .tag-display a {
  color: $white !important;
}
}

.content-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_content_description {
  max-height: 60px;
  overflow:auto;
}

.card-footer {
  height: 60px;
  overflow:auto;
}

.content-card:hover {
  box-shadow: none;
}

.board-image{
  border: 1px solid rgba(0, 0, 0, 0.125);
  overflow: auto;
  position: relative;
}

.circle-overlay {
    background: #62bcba;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    color: #fcfcfc;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.circle-overlay:hover {
  background: #fcfcfc;
  color: #62bcba;
}

// a {
//   vertical-align: middle
// }

.delete {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 2px;
  right: 8px;
  cursor: pointer;
}

.edit {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 2px;
  left: 8px;
  cursor: pointer;
}

.slack {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 2px;
  left: 8px;
  cursor: pointer;
}

#add-content {
  font-size: 72px;
  color: #474448;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

 }

 #add-content:hover {
  color: #FCFCFC;
 }

 .stretch {
  display: flex;
  align-items: stretch;
 }

 .content-add-card {
  overflow: hidden;
  background: white;
  color: black;
  opacity: 0.9;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

 }

 .content_tags .select2-container--default .select2-selection--multiple {
    background: #fcfcfc !important;
    border: 1px solid #ced4da !important;
    color: #495057 !important;
 }

 .tag-button a {
   color: $violet !important;
 }


 .tag-button:hover a {
   color: #fff !important;
 }


.filter-bar {
  display:flex;
  align-items: center;

}

.filter_2 {

  color: #ffffff;
  background-color: #62bcba;
  border-color: #62bcba;
  margin-bottom: 1rem;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.align-icons {
  margin-left: 8px;
  margin-bottom: 16px;
}

.rounded-slack {
  background-color: #62bcba;
  border-radius: 50%;
  color: #fff;
  padding: 11px;
  margin-bottom: 16px;
  margin-left: 8px;
  font-size: 1rem;
  padding-left: 13px;
  padding-right: 13px;
}
.rounded-slack:hover {
  background-color: #fcfcfc;
  color: #62bcba;
  }


.card-links {
  height: 0px;
  position: absolute;
  z-index: 7;
  width: 100%;
}
