<br>
<br>
<br>
<br>
<br>
<div class="container">

  <h3 class="text-center" style="padding-top: 30px;">Create new board</h3>
  <%= simple_form_for(@board) do |f| %>
  <div class="nameDesc">
  <%= f.input :name %>
  <%= f.input :description %>
  </div>
  <br>
  <div class ="button">

  <%= f.submit "Create board", class: "btn btn-primary" %>
  <% end %>
  
  </div>
</div>
