.container3 {
border: 1px solid;
padding: 10px 20px 80px 20px;
box-shadow: 5px 10px 8px #888888;



}

.bt2 {
border-radius: 50px;
padding: 12px 6px;
text-align: center;
}

.text-center {
font-size:xx-large;
font-family: "Nunito", "Helvetica", "sans-serif";
}

.container2 {
margin-top: 20px;
border: 1px solid;
border-color: white;
box-shadow: 0 3px 6px rgba(0,0,0,0.4);
margin-top: 80px;
}

.deletebutton {
color: g474448;
}


.line_color {
  border-bottom: 2px solid #000;
  background: #f5f7fa;
  padding:7px;
  color: #b8bbbf;
}

.line_color:hover {
  color:#000;
}
.modal-content {
  background-color: transparent;
}
.modal-content:hover {
  background:#fcfcfc;
}

