.container3 {
margin-top: 80px;
}

.bt2 {
border-radius: 50px;
padding: 12px 6px;
text-align: center;
}

.text-center {
font-size:xx-large;
font-family: "Nunito", "Helvetica", "sans-serif";
}

.container2 {

border: 1px solid;
border-color: white;
box-shadow: 0 3px 6px rgba(0,0,0,0.4);
margin-top: 80px;
}

.deletebutton {
color: g474448;
}

.page-background {
    background-image: url(https://source.unsplash.com/Q7PclNhVRI0);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    // background-color: rgb(230, 230, 230);
}

.newclass {
    margin-top: 40px;
    padding-top: 30px;
}

.centralize {
  text-align: center;
}

.newerclass {
  padding-top: 20px;
}