.navbar-lewagon {
  justify-content: space-between;
  color: #fcfcfc;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-grey {
  background-color: #62bcba;
  box-shadow: 0 2px 2px -2px #000F08;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler-icon {
  background-color: white;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border: 2px, solid, white
}

.circle-icon-nav {
    background: #fcfcfc;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    color: #62bcba;
    opacity: 0.8;
}

.circle-icon-nav:hover {
  background: rgba(0, 0, 0, 0.0);
  color: #fcfcfc;
  opacity: 100%;
}


.navbar-light .navbar-nav .nav-link {
  color: #e6e8e6;
  margin-right: 10px;
  opacity: 0.8;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: #fcfcfc;
  color: #62bcba;
  border-radius: 4px;
  opacity:100%;
}

.fa-map-pin {
  padding-left: 5px;
  padding-right: 5px
}

#navbarSupportedContent {
  flex-grow: 1;
  justify-content: space-between;
}

#nav-dropdowns {
    margin-left: auto
}



#ul-nav {
  margin-left: auto
}

// Search boxes:

#search-button {
  border: none;
  color: #fcfcfc;
  background-color: rgba(0,0,0,0.0);
}

#search {
  border: none;
  padding: 6px 0;
  min-width: 220px;
  -webkit-appearance: none;
  font-size: 14px;
}

#searchtype {
  max-width: 180px;
  border: none;
  font-size: 14px;
}

#search-controls {
  background: #fcfcfc;
  border-radius: 25px;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
}

.search-form {
  padding: 0;
}

#search:focus {
  box-shadow:none;
}

#searchtype:focus {
  box-shadow:none;
}
